<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="google-site-verification" content="UE0iT38XV-rm7K_Z0aW8xdm67C2GSvLDEc4Ey8O7f8k" />
		<title>Wiki Places for Kids{{#if pageTitle}}: {{pageTitle}}{{/if}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link href="/styles/wpfk.css" rel="stylesheet" />
		<link href="/styles/select-css.css" rel="stylesheet">
		<link href="/styles/select-css-compat.css" rel="stylesheet" />
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBBWZIQ-18garx9-_7Iv06ZqJ5ISC0oDw&libraries=places"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        {{#if carousel}}
        <link href="/styles/tiny-slider.css" rel="stylesheet" />
        <script text="text/javscript" src="/js/tiny-slider.js"></script>
        {{/if}}

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
	</head>
	<body>
        <header class="wpfk--site-header" role="banner">
            <a class="wpfk--recommend-link" href="/recommend">Suggest a Wiki Place</a>
            <a href="/"><img src="/images/new-logo.svg" width="250" /></a>
        </header>
        <article role="main">
            <!-- The content block should contain the body of your template's content-->
            <nav class="wpfk--site-nav">
                <ul>
                    <li><a href="/"{{#ifeq section "home"}} class="selected"{{/ifeq}}>Home</a></li>
                    <li><a href="/about"{{#ifeq section "about"}} class="selected"{{/ifeq}}>About Us</a></li>
                    <li><a href="/contact"{{#ifeq section "contact"}} class="selected"{{/ifeq}}>Contact</a></li>
                    <li class="wpfk--search-nav"><a{{#ifeq section "search"}} class="selected"{{/ifeq}} href="#">Search</a>
                        <div class="wpfk--search-nav-overlay">
                            <form action="/search" method="get">
                                <input type="text" name="searchString" placeholder="Keyword to search for" />
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
            {{#if messages}}
            <div id="flash-messages" class="wpfk--messages">
                {{#if messages.info}}
                <div class="alert alert-info">
                        {{{flashMessages messages.info}}}
                </div>
                {{/if}}
                {{#if messages.success}}
                <div class="alert alert-success">
                        {{{flashMessages messages.success}}}
                </div>
                {{/if}}
                {{#if messages.warning}}
                <div class="alert alert-warning">
                        {{{flashMessages messages.warning}}}
                </div>
                {{/if}}
                {{#if messages.error}}
                <div class="alert alert-danger">
                        {{{flashMessages messages.error}}}
                </div>
                {{/if}}
            </div>
            {{/if}}
            {{{body}}}
            <footer class="wpfk--footer">
                <section class="wpfk--footer-container">
		    <section class="wpfk--footer-logo-copyright">
                        <a href="/home"><img src="/images/new-logo-white.svg" alt="WPFK" width="250" /></a>
                        <p class="wpfk--copyright">© 2017 Wiki Places For Kids. All rights reserved.</p>
		    </section>
		    <section>
                        <h1>Wiki places for kids</h1>
                        <ul>
                            <li><a href="/contact">Contact us</a></li>
                            <li><a href="/privacy">Privacy policy</a></li>
                            <li><a href="/terms">Terms and conditions</a></li>
                        </ul>
                    </section>
                    <section>
                        <h1>Be in the know</h1>
                        <p>Enter your email to get our updates</p>
                        <form action="/signup" class="signup-form" method="post">
                            <input type="email" name="email" placeholder="you@email.com" /><input type="submit" value="Join" />
                            <input type="hidden" name="origin" value="{{section}}" />
                            <input type="hidden" name="action" value="signup" />
                        </form>
                    </section>
                </section>
            </footer>
        </article>
		{{{isAdminEditorJS user}}}
        <script type="text/javascript">
            window.wpfk = {};

            function isWPFKLink(url) {
                if (url.substr(0,4) === "http") return false;

		return true;
            }

            function geoFindMe() {
                function success(position) {
                    var geocoder = new google.maps.Geocoder;
                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                    geocoder.geocode({'location': latlng}, function(results, status) {
                        if (status === 'OK') {
                            if (results[1]) {
                                sessionStorage.setItem('vicinity', results[1].formatted_address);

                                if(sessionStorage.getItem('vicinity')) {
                                    var vicinityLinks = document.querySelectorAll('.addVicinity');

                                    for(var i = 0, len = vicinityLinks.length; i < len; i++) {
                                        var href = vicinityLinks[i].getAttribute('href');

                                        if(href.indexOf('vicinity') === -1 && isWPFKLink(href)) {
                                            vicinityLinks[i].setAttribute('href', href + "&vicinity=" + encodeURIComponent(sessionStorage.getItem('vicinity')) + "&radius=100");
                                        }
                                    }

                                    var vicinityInputs = document.querySelectorAll('input[name="vicinity"]');
                                    for(var i = 0, len = vicinityInputs.length; i < len; i++) {
                                        vicinityInputs[i].value = sessionStorage.getItem('vicinity');
                                    }
                                }
                            }
                        }
                    });
                };

                navigator.geolocation.getCurrentPosition(success);
            }

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-86737752-1', 'auto');
            ga('send', 'pageview');

            geoFindMe();
        </script>

	</body>
</html>
