<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Wiki Places for Kids</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link href="/styles/wpfk.css" rel="stylesheet" />
		<link href="/styles/select-css.css" rel="stylesheet">
		<link href="/styles/select-css-compat.css" rel="stylesheet" />
        

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
	</head>
	<body>
        <header class="wpfk--site-header" role="banner">
            <a class="wpfk--recommend-link" href="/recommend">Suggest a Wiki Place</a>
            <img src="/images/new-logo.svg" width="171" />
        </header>
        <article role="main">
            {{#if messages}}
            <div id="flash-messages" class="wpfk--messages">
                {{#if messages.info}}
                <div class="alert alert-info">
                        {{{flashMessages messages.info}}}
                </div>
                {{/if}}
                {{#if messages.success}}
                <div class="alert alert-success">
                        {{{flashMessages messages.success}}}
                </div>
                {{/if}}
                {{#if messages.warning}}
                <div class="alert alert-warning">
                        {{{flashMessages messages.warning}}}
                </div>
                {{/if}}
                {{#if messages.error}}
                <div class="alert alert-danger">
                        {{{flashMessages messages.error}}}
                </div>
                {{/if}}
            </div>
            {{/if}}
            <!-- The content block should contain the body of your template's content-->
            {{{body}}}
        </article>
		{{{isAdminEditorJS user}}}
	</body>
</html>
