<img class="wpfk--hero-image" src="{{heroImage.url}}" />
<article class="wpfk--home-content">
    <form class="wpfk--home-search-bar" action="/search" method="get">
        <input type="hidden" name="radius" value="100" /><section class="wpfk--custom-select custom-select wpfk--inline-input">
            <select name="venueTypes" placeholder="I'm looking for">
                <option disabled selected value="">I'm looking for</option>
                <option value="">All Activities</option>
                {{#each activityDropdown}}
                    <option value="{{value}}">{{label}}</option>
                {{/each}}
            </select>
        </section><input type="text" class="wpfk--input-location wpfk--inline-input" placeholder="Enter a postcode" name="vicinity" value="{{vicinity}}" /><section class="wpfk--custom-select custom-select wpfk--inline-input wpfk--inline-input--narrow">
            <select name="ageRanges">
                <option value="">Age</option>
                <option value="to6M">0-6m</option>
                <option value="from6Mto1Y">6m-1y</option>
                <option value="from1Yto2Y">1-2y</option>
                <option value="from2Yto3Y">2-3y</option>
                <option value="from3Yto4Y">3-4y</option>
                <option value="from4Yto5Y">4-5y</option>
                <option value="from5Yto6Y">5-6y</option>
                <option value="from6Yto7Y">6-7y</option>
                <option value="from7Yto8Y">7-8y</option>
                <option value="from8Yto9Y">8-9y</option>
                <option value="from9Yto10Y">9-10y</option>
                <option value="from10Yto12Y">10-12y</option>
                <option value="from12Y">12y+</option>
            </select>
        </section><button type="submit" class="wpfk--form__submit-button wpfk--inline-input wpfk--inline-input--narrow">Let's Go</button>
    </form>
    <section class="wpfk--site-description">
        {{{content}}}
    </section>
    <section class="wpfk--discover-box">
        <h1>{{section1Title}}</h1>
        <p>{{section1Strapline}}</p>
        <div class="wpfk--discover-image-boxes">
            <figure class="wpfk--overlayed-image">
                <img src="{{section1Box1Image.url}}" alt="{{section1Box1Title}}" />
                <figcaption><a class="addVicinity" href="{{section1Box1Link}}">{{section1Box1Title}}</a></figcaption>
            </figure>
            <figure class="wpfk--overlayed-image">
                <img src="{{section1Box2Image.url}}" alt="{{section1Box2Title}}" />
                <figcaption><a class="addVicinity" href="{{section1Box2Link}}">{{section1Box2Title}}</a></figcaption>
            </figure>
            <figure class="wpfk--overlayed-image">
                <img src="{{section1Box3Image.url}}" alt="{{section1Box3Title}}" />
                <figcaption><a class="addVicinity" href="{{section1Box3Link}}">{{section1Box3Title}}</a></figcaption>
            </figure>
        </div>  
        <p><a class="wpfk--button-link" href="{{section1LinkUrl}}">{{section1LinkText}}</a></p>    
    </section>
    <section class="wpfk--discover-box">
        <h1>{{section2Title}}</h1>
        <p>{{section2Strapline}}</p>
        <div class="wpfk--discover-image-boxes">
            <figure class="wpfk--overlayed-image">
                <img src="{{section2Box1Image.url}}" alt="{{section2Box1Title}}" />
                <figcaption><a class="addVicinity" href="{{section1Box1Link}}">{{section2Box1Title}}</a></figcaption>
            </figure>
            <figure class="wpfk--overlayed-image">
                <img src="{{section2Box2Image.url}}" alt="{{section2Box2Title}}" />
                <figcaption><a class="addVicinity" href="{{section1Box2Link}}">{{section2Box2Title}}</a></figcaption>
            </figure>
            <figure class="wpfk--overlayed-image">
                <img src="{{section2Box3Image.url}}" alt="{{section2Box3Title}}" />
                <figcaption><a class="addVicinity" href="{{section2Box3Link}}">{{section2Box3Title}}</a></figcaption>
            </figure>
        </div>  
        <p><a class="wpfk--button-link" href="{{section2LinkUrl}}">{{section2LinkText}}</a></p>    
    </section>
</article>
