<header class="wpfk--venue-header wpfk--premium-venue">
    <div class="wpfk--venue-image-container slider">
        {{#if venue.premiumVenueCarousel}}
            {{#each venue.premiumVenueCarousel}}
            {{#if this}}
            <div><img src="{{cloudinaryUrl this width=1440 height=477 crop='lfill' gravity='center'}}" alt="{{venueName}}" alt="{{venue.venueName}}" width="100%" /></div>
            {{/if}}
            {{/each}}
        {{else}}
        <img src="/images/castle-wide.jpg" width="1200" />
        {{/if}}
    </div>
</header>
<article class="wpfk--venue-content wpfk--premium-venue">
    <h1 class="wpfk--venue-name">{{venue.venueName}}<span class="stars">{{#times venue.rating}}
        <img src="/images/star-filled.svg" />
        {{/times}}</span></h1>
    <p class="wpfk--premium-suitable">Suitable for {{venue.suitableForPremium}}</p>
    <p class="wpfk--search-result__opening-times">{{#if venue.openToday}}Open today from {{venue.openToday.from}} until {{venue.openToday.to}}{{else}}Closed{{/if}}</p>
    <a href="{{{venue.premium.websiteLink}}}" class="wpfk--button-link wpfk--premium-website-link" target="_blank">{{venue.premium.websiteText}}</a>
    <nav class="wpfk--venue-premium-nav">
        <ol>
            <li><a href="#directions">Directions</a></li>
            <li><a href="#opening-hours">Opening hours</a></li>
            <li><a href="#price">Price</a></li>
            <li><a href="#facilities">Facilities</a></li>
            <li><a href="#add-a-review">Add a review</a></li>
        </ol>
    </nav>
    <section class="wpfk--venue-premium-content">
        <section class="wpfk--venue-description">
            {{{venue.description}}}
        </section>
        <section class="wpfk--venue-premium-sidebar">
            {{#if venue.premium.promoTitle}}
            <section class="wpfk--venue-promo">
                <h1>{{venue.premium.promoTitle}}</h1>
                {{{venue.premium.promoText}}}
            </section>
            {{/if}}
            {{#if reviewSpotlight}}
            <section class="wpfk--venue-review-spotlight">
                <p class="wpfk--search-rating">
                {{#times reviewSpotlight.rating}}
                <img src="/images/star-filled.svg" />
                {{/times}}
                </p>
                <p>{{{reviewSpotlight.description}}}</p>
                <p><strong>Recommended by {{reviewSpotlight.yourName}} {{#if reviewSpotlight.children.child1Name}}with {{reviewSpotlight.children.child1Name}}{{#if reviewSpotlight.children.child1Age}} (age {{reviewSpotlight.children.child1Age}}){{/if}}{{/if}}
                                                {{#if reviewSpotlight.children.child2Name}}, {{reviewSpotlight.children.child2Name}}{{#if reviewSpotlight.children.child2Age}} (age {{reviewSpotlight.children.child2Age}}){{/if}}{{/if}}
                                                {{#if reviewSpotlight.children.child3Name}}, {{reviewSpotlight.children.child3Name}}{{#if reviewSpotlight.children.child3Age}} (age {{reviewSpotlight.children.child3Age}}){{/if}}{{/if}}
                                                {{#if reviewSpotlight.children.child4Name}}, {{reviewSpotlight.children.child4Name}}{{#if reviewSpotlight.children.child4Age}} (age {{reviewSpotlight.children.child4Age}}){{/if}}{{/if}}
                                                {{#if reviewSpotlight.children.child5Name}}, {{reviewSpotlight.children.child5Name}}{{#if reviewSpotlight.children.child5Age}} (age {{reviewSpotlight.children.child5Age}}){{/if}}{{/if}} - {{reviewSpotlight.formattedDate}}</strong></p>
            </section>
            {{/if}}
        </section>
    </section>
    <section class="wpfk--venue-section">
        <h1>Activity Type</h1>
        <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
            {{#each venue.currentActivityTypes}}
            <li class="wpfk--venue-activity-tick">{{this}}</li>
            {{/each}}
        </ul>
    </section>
    <section class="wpfk--venue-section">
        <h1 id="directions">Directions</h1>
        <div class="wpfk--venue-map"><div id='gmap_canvas' style='height:350px;width:100%;'></div></div>
        <p class="wpfk--venue-inline-address"><strong>Address:</strong> {{venue.inlineAddress}}</p>
    </section>
    <section class="wpfk--venue-section">
        <h1 id="directions">Get in touch</h1>
        <p class="wpfk--venue-inline-address"><strong>Telephone:</strong> {{venue.telephoneNumber}}</p>
        <p class="wpfk--venue-inline-address"><strong>Website:</strong> <a href="{{venue.website}}" target="_blank">{{venue.website}}</a></p>
    </section>
    <section class="wpfk--venue-section">
        <h1 id="opening-hours">Opening Hours</h1>
        <section class="wpfk--premium-tier-column">
            {{#if venue.premium.priceTier1Title}}<h1>{{venue.premium.priceTier1Title}}</h1>{{/if}}
            <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
                {{#each venue.opens}}
                <li class="wpfk--venue-activity-notick">{{{this}}}</li>
                {{/each}}
            </ul>
        </section>
        {{#if venue.premium.priceTier2Title}}
        <section class="wpfk--premium-tier-column">
            <h1>{{venue.premium.priceTier2Title}}</h1>
            <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
                {{#each venue.opensTier2}}
                <li class="wpfk--venue-activity-notick">{{{this}}}</li>
                {{/each}}
            </ul>
        </section>
        {{/if}}
    </section>
    <section class="wpfk--venue-section">
        <h1 id="price">Price</h1>
        <section class="wpfk--premium-tier-column">
            {{#if venue.premium.priceTier1Title}}<h1>{{venue.premium.priceTier1Title}}</h1>{{/if}}
            <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
                {{#if venue.prices.adult}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Adult</span> <span class="wpfk--venue-kv-value">£{{venue.prices.adult}}</span></li>{{/if}}
                {{#if venue.prices.child}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Child</span> <span class="wpfk--venue-kv-value">£{{venue.prices.child}}</span></li>{{/if}}
                {{#if venue.prices.infant}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Infant</span> <span class="wpfk--venue-kv-value">£{{venue.prices.infant}}</span></li>{{/if}}
                {{#if venue.prices.senior}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Senior</span> <span class="wpfk--venue-kv-value">£{{venue.prices.senior}}</span></li>{{/if}}
                {{#if venue.prices.family}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Family</span> <span class="wpfk--venue-kv-value">£{{venue.prices.family}}</span></li>{{/if}}
            </ul>
        </section>
        {{#if venue.premium.priceTier2Title}}
        <section class="wpfk--premium-tier-column">
            <h1>{{venue.premium.priceTier2Title}}</h1>
            <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
                {{#if venue.premium.tier2prices.adult}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Adult</span> <span class="wpfk--venue-kv-value">£{{venue.premium.tier2prices.adult}}</span></li>{{/if}}
                {{#if venue.premium.tier2prices.child}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Child</span> <span class="wpfk--venue-kv-value">£{{venue.premium.tier2prices.child}}</span></li>{{/if}}
                {{#if venue.premium.tier2prices.infant}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Infant</span> <span class="wpfk--venue-kv-value">£{{venue.premium.tier2prices.infant}}</span></li>{{/if}}
                {{#if venue.premium.tier2prices.senior}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Senior</span> <span class="wpfk--venue-kv-value">£{{venue.premium.tier2prices.senior}}</span></li>{{/if}}
                {{#if venue.premium.tier2prices.family}}<li class="wpfk--venue-activity-notick"><span class="wpfk--venue-kv-key">Family</span> <span class="wpfk--venue-kv-value">£{{venue.premium.tier2prices.family}}</span></li>{{/if}}
            </ul>
        </section>
        {{/if}}
        {{{venue.premium.tier2prices.otherDescription}}}
    </section>
    <section class="wpfk--venue-section">
        <h1 id="facilities">Facilities</h1>
        <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
            {{#each venue.currentFacilities}}
            <li class="wpfk--venue-activity-tick">{{this}}</li>
            {{/each}}
        </ul>
    </section>
    <section class="wpfk--venue-section">
        <h1>Reviews</h1>
        <p>There are {{reviewCount}} reviews for "{{venue.venueName}}"</p>
        {{#each reviews}}
        <section class="wpfk--review-header">
            <p><strong>Recommended by {{yourName}} {{#if children.child1Name}}with {{children.child1Name}}{{#if children.child1Age}} (age {{children.child1Age}}){{/if}}{{/if}}
                                            {{#if children.child2Name}}, {{children.child2Name}}{{#if children.child2Age}} (age {{children.child2Age}}){{/if}}{{/if}}
                                            {{#if children.child3Name}}, {{children.child3Name}}{{#if children.child3Age}} (age {{children.child3Age}}){{/if}}{{/if}}
                                            {{#if children.child4Name}}, {{children.child4Name}}{{#if children.child4Age}} (age {{children.child4Age}}){{/if}}{{/if}}
                                            {{#if children.child5Name}}, {{children.child5Name}}{{#if children.child5Age}} (age {{children.child5Age}}){{/if}}{{/if}} - {{formattedDate}}</strong></p>
            <p class="wpfk--search-rating">
            {{#times rating}}
            <img src="/images/star-filled.svg" />
            {{/times}}
            </p>
            <p>{{{description}}}</p>
        </section>
        {{/each}}
        <form id="wpfk-review-form" action="/review" method="post"> 
            <section class="wpfk--venue-section wpfk--review-form">
                <h1 id="add-a-review">Add a review</h1>
                <section class="wpfk--form__rating">
                    <h3>Your rating</h3>
                    <div class="wpfk--form__rating-container">
                        <input type="radio" name="rating" id="rating5" value="5" {{#ifeq formData.rating 5}}checked="checked"{{/ifeq}} /> <label for="rating5">5</label>
                        <input type="radio" name="rating" id="rating4" value="4" {{#ifeq formData.rating 4}}checked="checked"{{/ifeq}} /> <label for="rating4">4</label>
                        <input type="radio" name="rating" id="rating3" value="3" {{#ifeq formData.rating 3}}checked="checked"{{/ifeq}} /> <label for="rating3">3</label>
                        <input type="radio" name="rating" id="rating2" value="2" {{#ifeq formData.rating 2}}checked="checked"{{/ifeq}} /> <label for="rating2">2</label>
                        <input type="radio" name="rating" id="rating1" value="1" {{#ifeq formData.rating 1}}checked="checked"{{/ifeq}} /> <label for="rating1">1</label>
                    </div>
                </section>
                <section class="wpfk--review-section">
                    <p>Your name:<br/><input type="text" name="yourName" id="yourName" value="{{formData.yourName}}" placeholder="Your name" aria-label="Your name" /></p>
                    <p>Email:<br/><input type="email" name="email" id="email" value="{{formData.email}}" placeholder="Email" aria-label="Email" /></p>
                </section>
                <section class="wpfk--review-section">
                    <p>Child 1's name:<br/><input type="text" name="children.child1Name" id="childrenChild1Name" value="{{formData.[children.child1Name]}}" placeholder="Child 1's name" aria-label="Child 1's name" /></p>
                    <p>Child 1's age:<br/><input type="number" name="children.child1Age" id="childrenChild1Age" value="{{formData.[children.child1Age]}}" placeholder="Child 1's age" aria-label="Child 1's age" /></p>
                </section>
                <section class="wpfk--review-section {{#if formData.[children.child2Name]}}{{else}}wpfk--more-children{{/if}}">
                    <p>Child 2's name:<br/><input type="text" name="children.child2Name" id="childrenChild2Name" value="{{formData.[children.child2Name]}}" placeholder="Child 2's name" aria-label="Child 2's name" /></p>
                    <p>Child 2's age:<br/><input type="number" name="children.child2Age" id="childrenChild2Age" value="{{formData.[children.child2Age]}}" placeholder="Child 2's age" aria-label="Child 2's age" /></p>
                </section>
                <section class="wpfk--review-section {{#if formData.[children.child3Name]}}{{else}}wpfk--more-children{{/if}}">
                    <p>Child 3's name:<br/><input type="text" name="children.child3Name" id="childrenChild3Name" value="{{formData.[children.child3Name]}}" placeholder="Child 3's name" aria-label="Child 3's name" /></p>
                    <p>Child 3's age:<br/><input type="number" name="children.child3Age" id="childrenChild3Age" value="{{formData.[children.child3Age]}}" placeholder="Child 3's age" aria-label="Child 3's age" /></p>
                </section>
                <section class="wpfk--review-section {{#if formData.[children.child4Name]}}{{else}}wpfk--more-children{{/if}}">
                    <p>Child 4's name:<br/><input type="text" name="children.child4Name" id="childrenChild4Name" value="{{formData.[children.child4Name]}}" placeholder="Child 4's name" aria-label="Child 4's name" /></p>
                    <p>Child 4's age:<br/><input type="number" name="children.child4Age" id="childrenChild4Age" value="{{formData.[children.child4Age]}}" placeholder="Child 4's age" aria-label="Child 4's age" /></p>
                </section>
                <section class="wpfk--review-section {{#if formData.[children.child5Name]}}{{else}}wpfk--more-children{{/if}}">
                    <p>Child 5's name:<br/><input type="text" name="children.child5Name" id="childrenChild5Name" value="{{formData.[children.child5Name]}}" placeholder="Child 5's name" aria-label="Child 5's name" /></p>
                    <p>Child 5's age:<br/><input type="number" name="children.child5Age" id="childrenChild5Age" value="{{formData.[children.child5Age]}}" placeholder="Child 5's age" aria-label="Child 5's age" /></p>
                </section>
                <section class="wpfk--review-section wpfk--add-more-children">
                    <p><a href="#">Add another child</a></p>
                </section>
                <section class="wpfk--form__description">
                    <textarea aria-label="Your review" name="description" placeholder="What's brilliant about this place? (also, add hints and tips for other parents)" rows="4">{{formData.description}}</textarea>
                </section>
                <section class="wpfk--form-actions">
                    <input type="hidden" name="venueSlug" value="{{venue.slug}}" />
                    <input type="hidden" name="venueId" value="{{venue.id}}" />
                    <input type="hidden" name="action" value="review" />
                    <button type="submit" class="wpfk--form__submit-button g-recaptcha" data-sitekey="6LcnOiIUAAAAAAWjnfn4DP2LA_1oX-g0OsZDBeW-" data-callback="validateRecaptcha">Submit your review</button>
                </section>
            </section>
        </section>
    </form>
</article>
<script type="text/javascript">
    function validateRecaptcha(token)
    {
        document.getElementById('wpfk-review-form').submit();
    }

    document.querySelector('.wpfk--add-more-children').addEventListener('click', function(e) {
        e.preventDefault();

        var children = document.querySelectorAll('.wpfk--more-children');

        children[0].style.display = 'block';
        children[0].classList.remove('wpfk--more-children');
    });

    document.addEventListener("DOMContentLoaded", function(event) {
        var slider = tns({
            container: document.querySelector('.slider'),
            items: 1,
            slideBy: 'page',
            autoplay: true,
            autoplayButton: false,
            mode: 'carousel',
            autoplayTimeout: 10000,
            lazyload: true,
            controlsText: ['<', '>']
        });
    });

    function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng({{venue.latLng}}),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng({{venue.latLng}})});infowindow = new google.maps.InfoWindow({content:"<h3>{{venue.venueName}}</h3><p>{{venue.inlineAddress}}</p>"});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}

    window.onload = function() {
        var descriptionContainer = document.querySelector(".wpfk--venue-description");
        var descriptionHTML = descriptionContainer.innerHTML;

        document.querySelector(".wpfk--venue-description").innerHTML = '<div class="wpfk--description-read-container">' + descriptionHTML + '</div>';

        var description = document.querySelector(".wpfk--description-read-container");

        if (description.offsetHeight > 300)
        {
            description.classList.add('wpfk--description-half');
            descriptionContainer.innerHTML += '<a class="wpfk--venue-read-more-less read-more">Read more</a>';   
            document.querySelector('.wpfk--venue-read-more-less').addEventListener('click', function(ev) {
                var description = document.querySelector(".wpfk--description-read-container");
                var el = ev.target;

                if (el.classList.contains('read-more')) {
                    description.classList.remove('wpfk--description-half');
                    el.classList.remove('read-more');
                    el.classList.add('read-less');
                    el.innerHTML = "Read less";
                } else {
                    description.classList.add('wpfk--description-half');
                    el.classList.remove('read-less');
                    el.classList.add('read-more');
                    el.innerHTML = "Read more";
                }
            });
        }

        init_map();
    };
</script>
