{{#if venueSubmitted}}
<section class="wpfk--form-intro wpfk--form-thank-you">
    <h1>Thanks for adding your Wiki Place!</h1>
    <p>Brilliant, thank you for your recommendation, you really are making a difference for thousands of parents, just like you!</p>
    <p>Each one of your recommendations gives you another chance of being drawn from the hat this month to win £150 to spend on…whatever you like! So go on...</p>
    <section class="wpfk--form-actions">
        <a href="/recommend" class="wpfk--form__submit-button">Recommend Another WPFK</a>
    </section>
</section>
{{else}}
<section class="wpfk--form-intro">
    <h1>Recommend your Wiki Place</h1>
    <p>Please complete as much as you can of the form below and with every new venue added you get yourself an entry into the April prize draw, for £150 to treat yourself to exactly what you like!</p>
</section>
<form class="wpfk--content-box" role="form" method="post" enctype="multipart/form-data">
    <h2>Venue information</h2>
    <section class="venueSearch">
        <input aria-label="Venue name" autocomplete="off" placeholder="Venue name" id="venueName" type="text" name="venueName" value="{{formData.venueName}}" />
        <div id="places-results" class="venueResults"></div>
    </section>
    <section class="wpfk--form__description">
        <textarea aria-label="Whats brilliant about this place?" name="description" placeholder="Whats brilliant about this place?" rows="4">{{formData.description}}</textarea>
    </section>
    <section class="wpfk--form__description">
        <h3>Venue type (check all that apply)</h3>
        <ul class="wpfk--form__checkbox-container">
            <li><input type="checkbox" name="venueType.softplay" id="venueTypesoftplay" {{#if formData.venueType.softplay}}checked="checked"{{/if}} /> <label for="venueTypesoftplay">Softplay</label></li>
            <li><input type="checkbox" name="venueType.outdoorActivities" id="venueTypeOutdoorActivities" {{#if formData.venueType.outdoorActivities}}checked="checked"{{/if}} /> <label for="venueTypeOutdoorActivities">Outdoor Activities</label></li>
            <li><input type="checkbox" name="venueType.indoorActivities" id="venueTypeIndoorActivities" {{#if formData.venueType.indoorActivities}}checked="checked"{{/if}} /> <label for="venueTypeIndoorActivities">Indoor Activities</label></li>
            <li><input type="checkbox" name="venueType.food" id="venueTypefood" {{#if formData.venueType.food}}checked="checked"{{/if}} /> <label for="venueTypefood">Restaurants and food</label></li>
            <li><input type="checkbox" name="venueType.pubs" id="venueTypepubs" {{#if formData.venueType.pubs}}checked="checked"{{/if}} /> <label for="venueTypepubs">Pubs with gardens/play facilities</label></li>
            <li><input type="checkbox" name="venueType.hotels" id="venueTypehotels" {{#if formData.venueType.hotels}}checked="checked"{{/if}} /> <label for="venueTypehotels">Hotels</label></li>
            <li><input type="checkbox" name="venueType.groups" id="venueTypegroups" {{#if formData.venueType.groups}}checked="checked"{{/if}} /> <label for="venueTypegroups">Toddler groups</label></li>
            <li><input type="checkbox" name="venueType.classes" id="venueTypeclasses" {{#if formData.venueType.classes}}checked="checked"{{/if}} /> <label for="venueTypeclasses">Baby classes</label></li>
            <li><input type="checkbox" name="venueType.swimming" id="venueTypeswimming" {{#if formData.venueType.swimming}}checked="checked"{{/if}} /> <label for="venueTypeswimming">Swimming/Splash parks</label></li>
            <li><input type="checkbox" name="venueType.outdoors" id="venueTypeoutdoors" {{#if formData.venueType.outdoors}}checked="checked"{{/if}} /> <label for="venueTypeoutdoors">Parks/Walks/Outdoor fun</label></li>
            <li><input type="checkbox" name="venueType.animals" id="venueTypeanimals" {{#if formData.venueType.animals}}checked="checked"{{/if}} /> <label for="venueTypeanimals">Open Farms/Safari/Zoo</label></li>
            <li><input type="checkbox" name="venueType.culture" id="venueTypeculture" {{#if formData.venueType.culture}}checked="checked"{{/if}} /> <label for="venueTypeculture">Museums/Cultural activites</label></li>
            <li><input type="checkbox" name="venueType.libraries" id="venueTypelibraries" {{#if formData.venueType.libraries}}checked="checked"{{/if}} /> <label for="venueTypelibraries">Libraries</label></li>
            <li><input type="checkbox" name="venueType.sports" id="venueTypesports" {{#if formData.venueType.sports}}checked="checked"{{/if}} /> <label for="venueTypesports">Sports</label></li>
        </ul>
    </section>
    <section class="wpfk--form__rating">
        <h3>Rating</h3>
        <div class="wpfk--form__rating-container">
            <input type="radio" name="rating" id="rating5" value="5" {{#ifeq formData.rating 5}}checked="checked"{{/ifeq}} /> <label for="rating5">5</label>
            <input type="radio" name="rating" id="rating4" value="4" {{#ifeq formData.rating 4}}checked="checked"{{/ifeq}} /> <label for="rating4">4</label> 
            <input type="radio" name="rating" id="rating3" value="3" {{#ifeq formData.rating 3}}checked="checked"{{/ifeq}} /> <label for="rating3">3</label>
            <input type="radio" name="rating" id="rating2" value="2" {{#ifeq formData.rating 2}}checked="checked"{{/ifeq}} /> <label for="rating2">2</label>
            <input type="radio" name="rating" id="rating1" value="1" {{#ifeq formData.rating 1}}checked="checked"{{/ifeq}} /> <label for="rating1">1</label>
        </div> 
    </section>
    <section>
        <h3>Booking required?</h3>
        <ul class="wpfk--form__checkbox-container">
            <li><input type="checkbox" name="bookingRequired" id="bookingRequired" {{#if formData.bookingRequired}}checked="checked"{{/if}} /> <label for="bookingRequired">Yes</label></li>
        </ul>
    </section>
    <section>
        <h3>Services</h3>
        <ul class="wpfk--form__checkbox-container">
            <li><input type="checkbox" name="services.babyChanging" id="servicesbabyChanging" {{#if formData.services.babyChanging}}checked="checked"{{/if}} /> <label for="servicesbabyChanging">Baby changing</label></li>
            <li><input type="checkbox" name="services.childrensMenu" id="serviceschildrensMenu" {{#if formData.services.childrensMenu}}checked="checked"{{/if}} /> <label for="serviceschildrensMenu">Childrens menu</label></li>
            <li><input type="checkbox" name="services.wheelAccessible" id="serviceswheelAccessible" {{#if formData.services.wheelAccessible}}checked="checked"{{/if}} /> <label for="serviceswheelAccessible">Pram/wheelchair accessible</label></li>
            <li><input type="checkbox" name="services.suitableForMany" id="servicessuitableForMany" {{#if formData.services.suitableForMany}}checked="checked"{{/if}} /> <label for="servicessuitableForMany">Suitable for twins/multiples</label></li>
            <li><input type="checkbox" name="services.doublePramFriendly" id="servicesdoublePramFriendly" {{#if formData.services.doublePramFriendly}}checked="checked"{{/if}} /> <label for="servicesdoublePramFriendly">Double pram friendly</label></li>
        </ul>
    </section>
    <section class="wpfk--form__description wpfk--form-collapse {{#if formData.address.expanded}}wpfk--form-collapse--expanded{{/if}}">
        <h3 id="venueDescription">Add location and contact</h3>
        <section class="wpfk--form-collapse--more">
            <textarea id="venueAddress" aria-label="Venue address" name="address" placeholder="Venue address" rows="5">{{formData.address}}</textarea>
            <input id="venueWebsite" aria-label="Website" placeholder="Website" type="text" name="website" value="{{formData.website}}">
            <input id="venueTelephone" aria-label="Telephone number" placeholder="Telephone number" type="tel" name="telephoneNumber" value="{{formData.telephoneNumber}}">
        </section>
    </section> 
    <section class="wpfk--form-collapse {{#if formData.openingHoursExpanded}}wpfk--form-collapse--expanded{{/if}}">
        <h3>Add prices</h3>
        <ul class="wpfk--form__prices-container wpfk--form-collapse--more">
            <li><label for="pricesadult">Adult</label> <input type="number" name="prices.adult" id="pricesadult" value="{{formData.prices.adult}}" placeholder="0" /></li> 
            <li><label for="priceschild">Child</label> <input type="number" name="prices.child" id="priceschild" value="{{formData.prices.child}}" placeholder="0" /></li>
            <li><label for="pricesinfant">Infant</label> <input type="number" name="prices.infant" id="pricesinfant" value="{{formData.prices.infant}}" placeholder="0" /></li>
            <li class="wpfk--form__price-wide"><label for="pricesotherDescription">Other prices</label> <input type="text" name="prices.otherDescription" id="pricesotherDescription" value="{{formData.prices.otherDescription}}" /></li>
        </ul>
    </section>
    <section class="wpfk--form-collapse {{#if formData.openingHoursExpanded}}wpfk--form-collapse--expanded{{/if}}">
        <h3>Add age group suitability</h3>
        <ul class="wpfk--form__checkbox-container wpfk--form-collapse--more">
            <li><input type="checkbox" name="suitableForAges.to6M" id="suitableForAgesto6M" {{#if formData.suitableForAges.to6M}}checked="checked"{{/if}} /> <label for="suitableForAgesto6M">0 - 6 months</label></li>
            <li><input type="checkbox" name="suitableForAges.from6Mto1Y" id="suitableForAgesfrom6Mto1Y" {{#if formData.suitableForAges.from6Mto1Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom6Mto1Y">6 months - 1 year</li>
            <li><input type="checkbox" name="suitableForAges.from1Yto2Y" id="suitableForAgesfrom1Yto2Y" {{#if formData.suitableForAges.from1Yto2Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom1Yto2Y">1 - 2 years</li>
            <li><input type="checkbox" name="suitableForAges.from2Yto3Y" id="suitableForAgesfrom2Yto3Y" {{#if formData.suitableForAges.from2Yto3Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom2Yto3Y">2 - 3 years</li>
            <li><input type="checkbox" name="suitableForAges.from3Yto4Y" id="suitableForAgesfrom3Yto4Y" {{#if formData.suitableForAges.from3Yto4Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom3Yto4Y">3 - 4 years</li>
            <li><input type="checkbox" name="suitableForAges.from4Yto5Y" id="suitableForAgesfrom4Yto5Y" {{#if formData.suitableForAges.from4Yto5Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom4Yto5Y">4 - 5 years</li>
            <li><input type="checkbox" name="suitableForAges.from5Yto6Y" id="suitableForAgesfrom5Yto6Y" {{#if formData.suitableForAges.from5Yto6Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom5Yto6Y">5 - 6 years</li>
            <li><input type="checkbox" name="suitableForAges.from6Yto7Y" id="suitableForAgesfrom6Yto7Y" {{#if formData.suitableForAges.from6Yto7Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom6Yto7Y">6 - 7 years</li>
            <li><input type="checkbox" name="suitableForAges.from7Yto8Y" id="suitableForAgesfrom7Yto8Y" {{#if formData.suitableForAges.from7Yto8Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom7Yto8Y">7 - 8 years</li>
            <li><input type="checkbox" name="suitableForAges.from8Yto9Y" id="suitableForAgesfrom8Yto9Y" {{#if formData.suitableForAges.from8Yto9Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom8Yto9Y">8 - 9 years</li>
            <li><input type="checkbox" name="suitableForAges.from9Yto10Y" id="suitableForAgesfrom9Yto10Y" {{#if formData.suitableForAges.from9Yto10Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom9Yto10Y">9 - 10 years</li>
            <li><input type="checkbox" name="suitableForAges.from10Yto12Y" id="suitableForAgesfrom10Yto12Y" {{#if formData.suitableForAges.from10Yto12Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom10Yto12Y">10 - 12 years</li>
            <li><input type="checkbox" name="suitableForAges.from12Y" id="suitableForAgesfrom12Y" {{#if formData.suitableForAges.from12Y}}checked="checked"{{/if}} /> <label for="suitableForAgesfrom12Y">12 years+</label></li>
        </ul>
    </section>
    <section class="wpfk--form-collapse {{#if formData.openingHoursExpanded}}wpfk--form-collapse--expanded{{/if}}">
        <h3>Add opening hours</h3>
        <ul class="wpfk--form__opening-container wpfk--form-collapse--more" id="openingHours">
            <li data-day="Monday">
                <ul class="wpfk--form__opening-day-container">
                    <li><input type="checkbox" name="openingHours.monday.isOpen" id="openingHoursMondayIsOpen" {{#if formData.openingHours.monday.isOpen}}checked="checked"{{/if}} /> <label for="openingHoursMondayIsOpen">Monday</label></li>
                    <li><input type="text" name="openingHours.monday.open.from" id="openingHoursMondayOpenFrom" value="{{formData.openingHours.monday.open.from}}" aria-label="Monday Open From" /></li>
                    <li><input type="text" name="openingHours.monday.open.to" id="openingHoursMondayOpenTo" value="{{formData.openingHours.monday.open.to}}" aria-label="Monday Open To" /></li>
                </ul>
            </li>
            <li data-day="Tuesday">
                <ul class="wpfk--form__opening-day-container">
                    <li><input type="checkbox" name="openingHours.tuesday.isOpen" id="openingHoursTuedayIsOpen" {{#if formData.openingHours.tuesday.isOpen}}checked="checked"{{/if}} /> <label for="openingHoursTuedayIsOpen">Tuesday</label></li>
                    <li><input type="text" name="openingHours.tuesday.open.from" id="openingHoursTuesdayOpenFrom" value="{{formData.openingHours.tuesday.open.from}}" aria-label="Tuesday Open From" /></li>
                    <li><input type="text" name="openingHours.tuesday.open.to" id="openingHoursTuesdayOpenTo" value="{{formData.openingHours.tuesday.open.to}}" aria-label="Tuesday Open To" /></li>
                </ul>
            </li>
            <li data-day="Wednesday">
                <ul class="wpfk--form__opening-day-container">
                    <li><input type="checkbox" name="openingHours.wednesday.isOpen" id="openingHoursWednesdayIsOpen" {{#if formData.openingHours.wednesday.isOpen}}checked="checked"{{/if}} /> <label for="openingHoursWednesdayIsOpen">Wednesday</label></li>
                    <li><input type="text" name="openingHours.wednesday.open.from" id="openingHoursWednesdayOpenFrom" value="{{formData.openingHours.wednesday.open.from}}" aria-label="Wednesday Open From" /></li>
                    <li><input type="text" name="openingHours.wednesday.open.to" id="openingHoursWednesdayOpenTo" value="{{formData.openingHours.wednesday.open.to}}" aria-label="Wednesday Open To" /></li>
                </ul>
            </li>
            <li data-day="Thursday">
                <ul class="wpfk--form__opening-day-container">
                    <li><input type="checkbox" name="openingHours.thursday.isOpen" id="openingHoursThursdayIsOpen" {{#if formData.openingHours.thursday.isOpen}}checked="checked"{{/if}} /> <label for="openingHoursThursdayIsOpen">Thursday</label></li>
                    <li><input type="text" name="openingHours.thursday.open.from" id="openingHoursThursdayOpenFrom" value="{{formData.openingHours.thursday.open.from}}" aria-label="Thursday Open From" /></li>
                    <li><input type="text" name="openingHours.thursday.open.to" id="openingHoursThursdayOpenTo" value="{{formData.openingHours.thursday.open.to}}" aria-label="Thursday Open To" /></li>
                </ul>
            </li>
            <li data-day="Friday">
                <ul class="wpfk--form__opening-day-container">
                    <li><input type="checkbox" name="openingHours.friday.isOpen" id="openingHoursFridayIsOpen" {{#if formData.openingHours.friday.isOpen}}checked="checked"{{/if}} /> <label for="openingHoursFridayIsOpen">Friday</label></li>
                    <li><input type="text" name="openingHours.friday.open.from" id="openingHoursFridayOpenFrom" value="{{formData.openingHours.friday.open.from}}" aria-label="Friday Open From" /></li>
                    <li><input type="text" name="openingHours.friday.open.to" id="openingHoursFridayOpenTo" value="{{formData.openingHours.friday.open.to}}" aria-label="Friday Open To" /></li>
                </ul>
            </li>
            <li data-day="Saturday">
                <ul class="wpfk--form__opening-day-container">
                    <li><input type="checkbox" name="openingHours.saturday.isOpen" id="openingHoursSaturdayIsOpen" {{#if formData.openingHours.saturday.isOpen}}checked="checked"{{/if}} /> <label for="openingHoursSaturdayIsOpen">Saturday</label></li>
                    <li><input type="text" name="openingHours.saturday.open.from" id="openingHoursSaturdayOpenFrom" value="{{formData.openingHours.saturday.open.from}}" aria-label="Saturday Open From" /></li>
                    <li><input type="text" name="openingHours.saturday.open.to" id="openingHoursSaturdayOpenTo" value="{{formData.openingHours.saturday.open.to}}" aria-label="Saturday Open To" /></li>
                </ul>
            </li>
            <li data-day="Sunday">
                <ul class="wpfk--form__opening-day-container">
                    <li><input type="checkbox" name="openingHours.sunday.isOpen" id="openingHoursSundayIsOpen" {{#if formData.openingHours.sunday.isOpen}}checked="checked"{{/if}} /> <label for="openingHoursSundayIsOpen">Sunday</label></li>
                    <li><input type="text" name="openingHours.sunday.open.from" id="openingHoursSundayOpenFrom" value="{{formData.openingHours.sunday.open.from}}" aria-label="Sunday Open From" /></li>
                    <li><input type="text" name="openingHours.sunday.open.to" id="openingHoursSundayOpenTo" value="{{formData.openingHours.sunday.open.to}}" aria-label="Sunday Open To" /></li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="wpfk--form-collapse {{#if formData.openingHoursExpanded}}wpfk--form-collapse--expanded{{/if}}">
        <h3 id="imageUpload">Add your images</label>
        <section class="wpfk--form-collapse--more">
            <input aria-labelledby="imageUpload" name="image" type="file" accept="image/*" />
        </section>
    </section>
    <section class="wpfk--form__your-details">
        <h2>your details</h2>
        <section>
            <input type="text" name="user.yourName" id="useryourName" value="{{formData.user.yourName}}" placeholder="Your name" aria-label="Your name" />
            <input type="email" name="user.email" id="useremail" value="{{formData.user.email}}" placeholder="Your email address" aria-label="Your email address" />
            <section class="wpfk--form-input--child">
                <input type="text" name="user.childName" id="userchildName" value="{{formData.user.childName}}" placeholder="Childrens name" aria-label="Childrens name" />
                <input type="text" name="user.childAge" id="userchildAge" value="{{formData.user.childAge}}" placeholder="Childrens ages" aria-label="Childrens ages" />
            </section>  
        </section>
        <section class="wpfk--form-agree">
            <ul class="wpfk--form__checkbox-container">
                <li><input type="checkbox" name="user.agreement" id="userAgreement" {{#if formData.user.agreement}}checked="checked"{{/if}} /> <label for="userAgreement">Please tick to recieve future updates from Wiki Places for Kids.</label></li>
            </ul>
        </section>
    </section>
    <section class="wpfk--form-actions">
        <input type="hidden" name="action" value="recommend">
        <button type="submit" class="wpfk--form__submit-button">Submit your wiki place</button>
    </section>
</form>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBBWZIQ-18garx9-_7Iv06ZqJ5ISC0oDw&libraries=places"></script>
<script type="text/javascript">
    document.body.classList.add('js-enabled');
    var collapsibles = document.querySelectorAll('.wpfk--form-collapse h3');
    
    for(var i = 0, len = collapsibles.length; i < len; i++) {
        collapsibles[i].addEventListener("click", function(e) {
            e.preventDefault();
            e.target.parentNode.classList.toggle('wpfk--form-collapse--expanded');
        })
    }
</script>
<script type="text/javascript">
    var ukBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(49.383639452689664, -17.39866406249996),
        new google.maps.LatLng(59.53530451232491, 8.968523437500039));
    
    var venueSearchElement = document.getElementById("venueName");
    
    var service = new google.maps.places.PlacesService(venueSearchElement);
    
    var out = document.getElementById("places-results");
    var venueAddress = document.getElementById("venueAddress");
    var venueWebsite = document.getElementById("venueWebsite");
    var venueTelephone = document.getElementById("venueTelephone");
    
    var openOnDayRegex = /([^:]*): (.*)/;
    var openingHoursRegex = /(.*) – (.*)/;
    var isOpenSelectorPattern = "input[name='openingHours.[[day]].isOpen']";
    var openFromSelectorPattern = "input[name='openingHours.[[day]].open.from']";
    var openToSelectorPattern = "input[name='openingHours.[[day]].open.to']"; 
    
    venueSearchElement.addEventListener("keyup", function() {
        var val = venueSearchElement.value;
        out.style.display = "none";
        if(val.length >= 3) {
            service.textSearch({query: val, bounds: ukBounds}, function(data, status) {  
                out.innerHTML = "";
                data.slice(0,5).forEach(function(place) {
                    out.style.display = "block";
                    var pEl = document.createElement("p");
                    var linkEl = document.createElement("a");
                    linkEl.href = "#";
                    linkEl.innerHTML = place.name + " <small>(" + place.formatted_address + ")</small>";
                    linkEl.addEventListener("click", function(e) {
                        e.preventDefault();
                        venueSearchElement.value = place.name;
                        service.getDetails({placeId: place.place_id}, function(place, status) {
                            console.log(place);
                            out.style.display = "none"; 
                            
                            if (place.address_components && place.address_components.length > 0) {
                                venueAddress.value = "";
                                
                                var addressComponents = place.address_components;
                                
                                for(var i = 0, len = addressComponents.length; i < len; i++) {
                                    venueAddress.value += addressComponents[i].long_name + (i != (len - 1) ? "\n" : "");
                                }   
                            }
                            
                            venueWebsite.value = place.website ? place.website : "";
                            venueTelephone.value = place.formatted_phone_number ? place.formatted_phone_number : "";
                            
                            place.opening_hours.weekday_text.forEach(function(dayOpening) {
                                var dayInfo = openOnDayRegex.exec(dayOpening);
                                var dayName = dayInfo[1];
                                var isOpenOnDay = (dayInfo[2] != "Closed");
                                
                                var openingHours = openingHoursRegex.exec(dayInfo[2]);
                                var openFrom = openingHours ? openingHours[1] : "";
                                var openTo = openingHours ? openingHours[2] : "";
                                
                                var isOpenSelector = isOpenSelectorPattern.replace("[[day]]", dayName.toLowerCase());
                                var openFromSelector = openFromSelectorPattern.replace("[[day]]", dayName.toLowerCase());
                                var openToSelector = openToSelectorPattern.replace("[[day]]", dayName.toLowerCase());
                                
                                document.querySelector(isOpenSelector).checked = isOpenOnDay;
                                document.querySelector(openFromSelector).value = openFrom;
                                document.querySelector(openToSelector).value = openTo;
                            });
                        });
                    });
                    pEl.appendChild(linkEl);
                    out.appendChild(pEl);
                });
            });
        } 
    });
</script>
{{/if}}