<nav class="wpfk--site-nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/search">Search</a></li>
    </ul>    
</nav>
<form id="search" method="get" action="/search">
    <header class="wpfk--search-header">
        <div class="wpfk--wide-container">
            <h1>{{#if vicinity}}Results for, {{vicinity}}{{else}}Results{{/if}}</h1>
            <div class="wpfk--custom-select custom-select">
                <select name="day">
                    <option>Today</option>
                    <option>Tomorrow</option>
                    <option>Next week</option>
                </select>
            </div>
        </div>
    </header>
    <div class="wpfk--search">
        <aside class="wpfk--search-filters">
            <!--<a href="#">Map view</a>-->
            <h1>Filter search results</h1>
            <h2>Location</h2>
            <input type="text" class="wpfk--input-location" placeholder="e.g. London, SE4" name="vicinity" value="{{vicinity}}" />
            <section class="wpfk--custom-select custom-select">
                <select name="radius" id="selectSubmitter">
                    <option value="1" {{#ifeq radius 1}}selected="selected"{{/ifeq}}>This area only</option>
                    <option value="5" {{#ifeq radius 5}}selected="selected"{{/ifeq}}>Within 5 miles</option>
                    <option value="10" {{#ifeq radius 10}}selected="selected"{{/ifeq}}>Within 10 miles</option>
                    <option value="25" {{#ifeq radius 25}}selected="selected"{{/ifeq}}>Within 25 miles</option>
                    <option value="50" {{#ifeq radius 50}}selected="selected"{{/ifeq}}>Within 50 miles</option>
                </select>
            </section>
            <hr />
            <section>
                <h2>Age range</h2>
                <ul class="wpfk--form__checkbox-container-linear checkboxSubmitters">
                    <li><input type="checkbox" name="venueTypes" value="softplay" id="softplay" {{#if venueType.softplay}}checked="checked"{{/if}} /> <label for="softplay">Softplay</label></li>
                    <li><input type="checkbox" name="venueTypes" value="indoorActivities" id="indoorActivities" {{#if venueType.indoorActivities}}checked="checked"{{/if}}/> <label for="indoorActivities">Indoor Activities</label></li>
                    <li><input type="checkbox" name="venueTypes" value="outdoorActivities" id="outdoorActivities" {{#if venueType.outdoorActivities}}checked="checked"{{/if}}/> <label for="outdoorActivities">Outdoor Activities</label></li>
                    <li><input type="checkbox" name="venueTypes" value="food" id="food" {{#if venueType.food}}checked="checked"{{/if}}/> <label for="food">Restaurants and food</label></li>
                    <li><input type="checkbox" name="venueTypes" value="pubs" id="pubs" {{#if venueType.pubs}}checked="checked"{{/if}}/> <label for="pubs">Pubs with gardens/play facilities</label></li>
                    <li><input type="checkbox" name="venueTypes" value="hotels" id="hotels" {{#if venueType.hotels}}checked="checked"{{/if}}/> <label for="hotels">Hotels</label></li>
                    <li><input type="checkbox" name="venueTypes" value="groups" id="groups" {{#if venueType.groups}}checked="checked"{{/if}}/> <label for="groups">Toddler groups</label></li>
                    <li><input type="checkbox" name="venueTypes" value="classes" id="classes" {{#if venueType.classes}}checked="checked"{{/if}}/> <label for="classes">Baby classes</label></li>
                    <li><input type="checkbox" name="venueTypes" value="swimming" id="swimming" {{#if venueType.swimming}}checked="checked"{{/if}}/> <label for="swimming">Swimming/Splash parks</label></li>
                    <li><input type="checkbox" name="venueTypes" value="outdoors" id="outdoors" {{#if venueType.outdoors}}checked="checked"{{/if}}/> <label for="outdoors">Parks/Walks/Outdoor fun</label></li>
                    <li><input type="checkbox" name="venueTypes" value="animals" id="animals" {{#if venueType.animals}}checked="checked"{{/if}}/> <label for="animals">Open Farms/Safari/Zoo</label></li>
                    <li><input type="checkbox" name="venueTypes" value="culture" id="culture" {{#if venueType.culture}}checked="checked"{{/if}}/> <label for="culture">Museums/Cultural activites</label></li>
                    <li><input type="checkbox" name="venueTypes" value="libraries" id="libraries" {{#if venueType.libraries}}checked="checked"{{/if}}/> <label for="libraries">Libraries</label></li>
                    <li><input type="checkbox" name="venueTypes" value="sports" id="sports" {{#if venueType.sports}}checked="checked"{{/if}}/> <label for="sports">Sports</label></li>
                </ul>
            </section>
            <hr/>
            <section>
                <h2>Age range</h2>
                <ul class="wpfk--form__checkbox-container-linear checkboxSubmitters">
                    <li><input type="checkbox" name="ageRanges" value="to6M" id="to6M" {{#if ageRange.to6M}}checked="checked"{{/if}}/> <label for="to6M">0-6m</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from6Mto1Y" id="from6Mto1Y" {{#if ageRange.from6Mto1Y}}checked="checked"{{/if}}/> <label for="from6Mto1Y">6m-1y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from1Yto2Y" id="from1Yto2Y" {{#if ageRange.from1Yto2Y}}checked="checked"{{/if}}/> <label for="from1Yto2Y">1-2y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from2Yto3Y" id="from2Yto3Y" {{#if ageRange.from2Yto3Y}}checked="checked"{{/if}}/> <label for="from2Yto3Y">2-3y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from3Yto4Y" id="from3Yto4Y" {{#if ageRange.from3Yto4Y}}checked="checked"{{/if}}/> <label for="from3Yto4Y">3-4y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from4Yto5Y" id="from4Yto5Y" {{#if ageRange.from4Yto5Y}}checked="checked"{{/if}}/> <label for="from4Yto5Y">4-5y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from5Yto6Y" id="from5Yto6Y" {{#if ageRange.from5Yto6Y}}checked="checked"{{/if}}/> <label for="from5Yto6Y">5-6y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from6Yto7Y" id="from6Yto7Y" {{#if ageRange.from6Yto7Y}}checked="checked"{{/if}}/> <label for="from6Yto7Y">6-7y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from7Yto8Y" id="from7Yto8Y" {{#if ageRange.from7Yto8Y}}checked="checked"{{/if}}/> <label for="from7Yto8Y">7-8y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from8Yto9Y" id="from8Yto9Y" {{#if ageRange.from8Yto9Y}}checked="checked"{{/if}}/> <label for="from8Yto9Y">8-9y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from9Yto10Y" id="from9Yto10Y" {{#if ageRange.from9Yto10Y}}checked="checked"{{/if}}/> <label for="from9Yto10Y">9-10y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from10Yto12Y" id="from10Yto12Y" {{#if ageRange.from10Yto12Y}}checked="checked"{{/if}}/> <label for="from10Yto12Y">10-12y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from12Y" id="from12Y" {{#if ageRange.from12Y}}checked="checked"{{/if}}/> <label for="from12Y">12y+</label></li>
                </ul>
            </section>
            <!--
            <section>
                <h2>Facilities</h2>
                <ul class="wpfk--form__checkbox-container">
                    <li><input type="checkbox" /> <label>Good food for parents</label></input></li>
                    <li><input type="checkbox" /> <label>Wheelchair access</label></li>
                    <li><input type="checkbox" /> <label>Pram accessible</label></li>
                    <li><input type="checkbox" /> <label>Double pram friendly</label></li>
                    <li><input type="checkbox" /> <label>Breast/Bottle feeding facilities</label></li>
                    <li><input type="checkbox" /> <label>Venue for children’s parties</label></li>
                    <li><input type="checkbox" /> <label>Suitable for twins/multiples</label></li>
                    <li><input type="checkbox" /> <label>High chairs</label></li>
                    <li><input type="checkbox" /> <label>Kids menu</label></li>
                </ul>
            </section>-->
        </aside>
        <section class="wpfk--search-results">
            <p class="wpfk--search-results__found">We have found <strong>{{venueCount}} results</strong></p>
            <div class="wpfk--search-results--sort">
                <label for="sort-by">Sort by</label>
                <div class="wpfk--custom-select custom-select">
                    <select name="sort-by" id="sort-by">
                        <option>Most popular</option>
                        <option>Least popular</option>
                    </select>
                </div>
            </div>
            {{#each venues}}
            <article class="wpfk--search-result">
                <div class="wpfk--search-result__image">
                    <img src="/images/sealife.jpg" alt="Sealife" width="380" />
                    {{#if costsMoney}}{{else}}<p class="wpfk--search-item__price">Free</p>{{/if}}
                </div>
                <div class="wpfk--search-result__details">
                    <h1>{{venueName}}</h1>
                    <p class="wpfk--search-result__opening-times">{{#if openToday}}Open today from {{openToday.from}} until {{openToday.to}}{{else}}Closed{{/if}}</p>
                    <p class="wpfk--search-result__address">{{address}}</p>
                    <p class="wpfk--search-result__distance">X.XX miles</p>
                    {{{description}}}
                    <p class="wpfk--search-rating">
                        {{#times rating}}
                        <img src="/images/star-filled.svg" />
                        {{/times}}
                    </p>
                    <p><a href="/venue/{{slug}}">Find out more</a></p>
                </div>
            </article>
            {{/each}}
        </section>
    </div>    
</form>
<script type="text/javascript">
    function onChangeSubmit (event) {
        document.getElementById('search').submit();
    }

    document.getElementById('selectSubmitter').addEventListener('change', function (e) {
        onChangeSubmit(e);
    });

    var checkboxes = document.querySelectorAll(".checkboxSubmitters input[type='checkbox']");

    for (i = 0, len = checkboxes.length; i < len; ++i) {        
        checkboxes[i].addEventListener('change', function (e) {
            onChangeSubmit(e);
        });
    };
</script>