<form id="search" method="get" action="/search">
    <header class="wpfk--search-header">
        <div class="wpfk--wide-container">
            <h1>Results{{#if searchQuery}} for {{searchQuery}}{{/if}}</h1>
            <div class="wpfk--custom-select custom-select">
                <select name="day">
                    <option>Today</option>
                    <option>Tomorrow</option>
                    <option>Next week</option>
                </select>
            </div>
        </div>
    </header>
    <div class="wpfk--search">
        <aside class="wpfk--search-filters">
            <h1>Refine by</h1>
            <hr/>
            <section class="wpfk--filter-collapse {{#if filterSearchString}}wpfk--form-collapse--expanded{{/if}}">
                <h2>Containing phrase</h2>
                <section class="wpfk--form-collapse--more">
                    <input type="text" class="wpfk--input-location" placeholder="e.g. Knebworth House" name="searchString" value="{{searchString}}" />
                </section>  
            </section>
            <hr/>
            <section class="wpfk--filter-collapse  {{#if filterLocation}}wpfk--form-collapse--expanded{{/if}}">
                <h2>Location</h2>
                <section class="wpfk--form-collapse--more">
                    <input type="text" class="wpfk--input-location" placeholder="e.g. London, SE4" name="vicinity" value="{{vicinity}}" />
                    <section class="wpfk--custom-select custom-select">
                        <select name="radius" class="selectSubmitter">
                            <option value="1" {{#ifeq radius 1}}selected="selected"{{/ifeq}}>This area only</option>
                            <option value="5" {{#ifeq radius 5}}selected="selected"{{/ifeq}}>Within 5 miles</option>
                            <option value="10" {{#ifeq radius 10}}selected="selected"{{/ifeq}}>Within 10 miles</option>
                            <option value="25" {{#ifeq radius 25}}selected="selected"{{/ifeq}}>Within 25 miles</option>
                            <option value="50" {{#ifeq radius 50}}selected="selected"{{/ifeq}}>Within 50 miles</option>
                            <option value="100" {{#ifeq radius 100}}selected="selected"{{/ifeq}}>Within 100 miles</option>
                        </select>
                    </section>
                </section>  
            </section>
            <hr />
            <section class="wpfk--filter-collapse {{#if filterActivityType}}wpfk--form-collapse--expanded{{/if}}">
                <h2>Activity type</h2>
                <ul class="wpfk--form__checkbox-container-linear checkboxSubmitters wpfk--form-collapse--more">
                    <li><input type="checkbox" name="venueTypes" value="softplay" id="softplay" {{#if venueType.softplay}}checked="checked"{{/if}} /> <label for="softplay">Softplay</label></li>
                    <li><input type="checkbox" name="venueTypes" value="indoorActivities" id="indoorActivities" {{#if venueType.indoorActivities}}checked="checked"{{/if}}/> <label for="indoorActivities">Indoor Activities</label></li>
                    <li><input type="checkbox" name="venueTypes" value="outdoorActivities" id="outdoorActivities" {{#if venueType.outdoorActivities}}checked="checked"{{/if}}/> <label for="outdoorActivities">Outdoor Activities</label></li>
                    <li><input type="checkbox" name="venueTypes" value="food" id="food" {{#if venueType.food}}checked="checked"{{/if}}/> <label for="food">Restaurants and food</label></li>
                    <li><input type="checkbox" name="venueTypes" value="pubs" id="pubs" {{#if venueType.pubs}}checked="checked"{{/if}}/> <label for="pubs">Pubs with gardens/play facilities</label></li>
                    <li><input type="checkbox" name="venueTypes" value="hotels" id="hotels" {{#if venueType.hotels}}checked="checked"{{/if}}/> <label for="hotels">Hotels</label></li>
                    <li><input type="checkbox" name="venueTypes" value="groups" id="groups" {{#if venueType.groups}}checked="checked"{{/if}}/> <label for="groups">Toddler groups</label></li>
                    <li><input type="checkbox" name="venueTypes" value="classes" id="classes" {{#if venueType.classes}}checked="checked"{{/if}}/> <label for="classes">Baby classes</label></li>
                    <li><input type="checkbox" name="venueTypes" value="swimming" id="swimming" {{#if venueType.swimming}}checked="checked"{{/if}}/> <label for="swimming">Swimming/Splash parks</label></li>
                    <li><input type="checkbox" name="venueTypes" value="outdoors" id="outdoors" {{#if venueType.outdoors}}checked="checked"{{/if}}/> <label for="outdoors">Parks/Walks/Outdoor fun</label></li>
                    <li><input type="checkbox" name="venueTypes" value="animals" id="animals" {{#if venueType.animals}}checked="checked"{{/if}}/> <label for="animals">Open Farms/Safari/Zoo</label></li>
                    <li><input type="checkbox" name="venueTypes" value="culture" id="culture" {{#if venueType.culture}}checked="checked"{{/if}}/> <label for="culture">Museums/Cultural activites</label></li>
                    <li><input type="checkbox" name="venueTypes" value="libraries" id="libraries" {{#if venueType.libraries}}checked="checked"{{/if}}/> <label for="libraries">Libraries</label></li>
                    <li><input type="checkbox" name="venueTypes" value="sports" id="sports" {{#if venueType.sports}}checked="checked"{{/if}}/> <label for="sports">Sports</label></li>
                </ul>
            </section>
            <hr/>
            <section class="wpfk--filter-collapse {{#if filterAgeRanges}}wpfk--form-collapse--expanded{{/if}}">
                <h2>Age range</h2>
                <ul class="wpfk--form__checkbox-container-linear checkboxSubmitters wpfk--form-collapse--more">
                    <li><input type="checkbox" name="ageRanges" value="to6M" id="to6M" {{#if ageRange.to6M}}checked="checked"{{/if}}/> <label for="to6M">0-6m</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from6Mto1Y" id="from6Mto1Y" {{#if ageRange.from6Mto1Y}}checked="checked"{{/if}}/> <label for="from6Mto1Y">6m-1y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from1Yto2Y" id="from1Yto2Y" {{#if ageRange.from1Yto2Y}}checked="checked"{{/if}}/> <label for="from1Yto2Y">1-2y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from2Yto3Y" id="from2Yto3Y" {{#if ageRange.from2Yto3Y}}checked="checked"{{/if}}/> <label for="from2Yto3Y">2-3y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from3Yto4Y" id="from3Yto4Y" {{#if ageRange.from3Yto4Y}}checked="checked"{{/if}}/> <label for="from3Yto4Y">3-4y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from4Yto5Y" id="from4Yto5Y" {{#if ageRange.from4Yto5Y}}checked="checked"{{/if}}/> <label for="from4Yto5Y">4-5y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from5Yto6Y" id="from5Yto6Y" {{#if ageRange.from5Yto6Y}}checked="checked"{{/if}}/> <label for="from5Yto6Y">5-6y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from6Yto7Y" id="from6Yto7Y" {{#if ageRange.from6Yto7Y}}checked="checked"{{/if}}/> <label for="from6Yto7Y">6-7y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from7Yto8Y" id="from7Yto8Y" {{#if ageRange.from7Yto8Y}}checked="checked"{{/if}}/> <label for="from7Yto8Y">7-8y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from8Yto9Y" id="from8Yto9Y" {{#if ageRange.from8Yto9Y}}checked="checked"{{/if}}/> <label for="from8Yto9Y">8-9y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from9Yto10Y" id="from9Yto10Y" {{#if ageRange.from9Yto10Y}}checked="checked"{{/if}}/> <label for="from9Yto10Y">9-10y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from10Yto12Y" id="from10Yto12Y" {{#if ageRange.from10Yto12Y}}checked="checked"{{/if}}/> <label for="from10Yto12Y">10-12y</label></li>
                    <li><input type="checkbox" name="ageRanges" value="from12Y" id="from12Y" {{#if ageRange.from12Y}}checked="checked"{{/if}}/> <label for="from12Y">12y+</label></li>
                </ul>
            </section>
            <hr/>
            <section class="wpfk--filter-collapse {{#if filterServices}}wpfk--form-collapse--expanded{{/if}}">
                <h2>Facilities</h2>
                <ul class="wpfk--form__checkbox-container-linear checkboxSubmitters wpfk--form-collapse--more">
                    <li><input type="checkbox" name="services" value="goodFood" id="goodFood" {{#if services.goodFood}}checked="checked"{{/if}} /> <label for="goodFood">Good food for parents</label></input></li>
                    <li><input type="checkbox" name="services" value="wheelAccessible" id="wheelAccessible" {{#if services.wheelAccessible}}checked="checked"{{/if}} /> <label for="wheelAccessible">Wheelchair access</label></li>
                    <li><input type="checkbox" name="services" value="doublePramFriendly" id="doublePramFriendly" {{#if services.doublePramFriendly}}checked="checked"{{/if}}/> <label for="doublePramFriendly">Double pram friendly</label></li>
                    <li><input type="checkbox" name="services" value="kidsParties" id="kidsParties" {{#if services.kidsParties}}checked="checked"{{/if}}/> <label for="kidsParties">Venue for children’s parties</label></li>
                    <li><input type="checkbox" name="services" value="childrensMenu" id="childrensMenu" {{#if services.childrensMenu}}checked="checked"{{/if}}/> <label for="childrensMenu">Kids menu</label></li>
                    <li><input type="checkbox" name="services" value="babyChanging" id="babyChanging" {{#if services.babyChanging}}checked="checked"{{/if}}/> <label for="babyChanging">Baby changing facilities</label></li>
                    <li><input type="checkbox" name="services" value="suitableForMany" id="suitableForMany" {{#if services.suitableForMany}}checked="checked"{{/if}} /> <label for="suitableForMany">Suitable for twins/multiples</label></li>
                </ul>
            </section>
            <button type="submit" class="wpfk--form__submit-button">Search</button>
        </aside>
        <section class="wpfk--search-results">
            {{#ifeq venueCount 0}}
            <h2>Whoops! Nothing here?</h2>
            <p class="wpfk--search-results__found">We are brand new and are still filling up with ideas.</p>
            <p class="wpfk--search-results__found">Please help us by adding great places that you love via the big pink button at the top!</p>
            <p class="wpfk--search-results__found">Thank you!</p>
            {{else}}
            <p class="wpfk--search-results__found">We have found <strong>{{venueCount}} results</strong></p>
            <div class="wpfk--search-results--sort">
                <label for="sort-by">Sort by</label>
                <div class="wpfk--custom-select custom-select">
                    <select name="sortBy" class="selectSubmitter">
                        <option {{#if sortByNearest}}selected="selected" {{/if}}value="nearest">Nearest</option>
                        <option {{#if sortByPopularity}}selected="selected" {{/if}}value="popularity">Most popular</option>
                        <option {{#if sortByAdded}}selected="selected" {{/if}}value="added">Recently added</option>
                        <option {{#if sortByOpenToday}}selected="selected" {{/if}}value="open-today">Open today</option>
                    </select>
                </div>
            </div>
            {{#each venues}}
            <article class="wpfk--search-result {{#if isPremiumListing}}premium{{/if}}">
                <a href="/venue/{{slug}}">
                    <div class="wpfk--search-result__image">
                        {{#if image.url}}
                        <img src="{{cloudinaryUrl image width=412 height=314 crop='lfill' gravity='center'}}" alt="{{venueName}}" width="412" />
                        {{else}}
                        <img src="/images/castle.jpg" alt="Sealife" width="380" />
                        {{/if}}
                    </div><div class="wpfk--search-result__details">
                        {{#if addedByWPFK}}{{else}}<span class="addedByWPFK"></span>{{/if}}
                        <h1>{{venueName}}</h1>
                        <p class="wpfk--search-rating">
                            {{#times rating}}
                            <img src="/images/star-filled.svg" />
                            {{/times}}
                            {{#if distance}}
                            <span class="wpfk--search-distance">{{distance}} miles</span>
                            {{/if}}
                        </p>
                        <p class="wpfk--search-result__opening-times">{{#if openToday}}Open today {{openToday.from}} - {{openToday.to}}{{else}}Closed right now, see opening hours{{/if}}</p>
                        {{#if isPremiumListing}}{{else}}<p class="wpfk--search-result__address">{{address}}</p>{{/if}}
                        {{#if costsMoney}}{{else}}<p class="wpfk--search-price">FREE</p>{{/if}}
                        <div class="wpfk--search-result__description">
                            {{{description}}}
                        </div>
                        {{#if isPremiumListing}}
                            {{#if premium.promoTitle}}
                            <div class="wpfk--search-result__promo">
                                {{premium.promoTitle}}{{{premium.promoText}}}
                            </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </a>
            </article>
            {{/each}}
            {{/ifeq}}
        </section>
    </div>    
</form>
<script type="text/javascript">
    document.body.classList.add('js-enabled');
    var collapsibles = document.querySelectorAll('.wpfk--filter-collapse h2');

    for(var i = 0, len = collapsibles.length; i < len; i++) {
        collapsibles[i].addEventListener("click", function(e) {
            e.preventDefault();
            e.target.parentNode.classList.toggle('wpfk--form-collapse--expanded');
        })
    }
</script>
<script type="text/javascript">
    function onChangeSubmit (event) {
        document.getElementById('search').submit();
    }

    var submitters = document.querySelectorAll(".selectSubmitter, .checkboxSubmitters input[type='checkbox']");

    for (i = 0, len = submitters.length; i < len; ++i) {        
        submitters[i].addEventListener('change', function (e) {
            onChangeSubmit(e);
        });
    };

    function summarizeTextWithReadMore(rootElement, linkURL, numberOfLines)
    {
        const originalText = rootElement.innerHTML;
        const text = originalText.replace(/(<([^>]+)>)/ig, "").split(/[\s|\n]/);

        rootElement.innerHTML = '<p class="wpfk--search-summary-text"><span class="wpfk--search-summary-preview">' + text[0] + '</span> <span class="wpfk--search-summary-readmore">... <a href="' + linkURL + '">Read more &gt;</a></span></p>';

        const paragraphRoot = rootElement.querySelector(".wpfk--search-summary-text");
        const textNode = paragraphRoot.querySelector(".wpfk--search-summary-preview");
        const lineHeight = paragraphRoot.offsetHeight;

        for (var i = 1, len = text.length, maxHeight = lineHeight * numberOfLines; i < len; i++)
        {
            if(text[i] === "") continue;

            var oldText = textNode.innerHTML;
            textNode.innerHTML += " " + text[i];

            if (paragraphRoot.offsetHeight > maxHeight) {
                 textNode.innerHTML = oldText;
                break;
            }

            if (i === len-1) {
                rootElement.innerHTML = originalText;
            }
        }
    }

    function ellipsizeTextBox() {
        var results = document.querySelectorAll('.wpfk--search-result');

        for (var i = 0, len = results.length; i < len; i++)
        {
	    var descriptionEl = results[i].querySelector('.wpfk--search-result__description'),
                textEl = results[i].querySelectorAll('.wpfk--search-result__description p'),
                linkEl = results[i].querySelector('.wpfk--search-result a');

	    if (textEl.length === 0)
	    {
		textEl = [descriptionEl];
	    }

            var overHeight = false;

            textEl.forEach(function(e) {
                e.style.display = "none";
            });

            for (var j = 0, plen = textEl.length; j < plen; j++)
            {
                var words = textEl[j].innerHTML.split(' ');
		textEl[j].innerHTML = "";

                for (var i = 0, len = words.length; i < len; i++)
                {
		    var oldText = textEl[j].innerHTML;
		    textEl[j].innerHTML += " " + words[i];

                    if (descriptionEl.offsetHeight < 70)
                    {
                        textEl[j].style.display = "block";
                    }
                    else
                    {
                        textEl[j].innerHTML = oldText + "...";
			textEl[j].style.marginBottom = 0;
                        overHeight = true;
                        break;
                    }
                }

                if (overHeight)
                {
                    break;
                }
            }
        }
    }

    //ellipsizeTextBox();

    var venues = document.querySelectorAll('.wpfk--search-result');

    for (var i = 0, len = venues.length; i < len; i++)
    {
	    var descriptionEl = venues[i].querySelector('.wpfk--search-result__description'),
                linkEl = venues[i].querySelector('.wpfk--search-result a');

        summarizeTextWithReadMore(descriptionEl, linkEl.href, 10);
    }
</script>
