<header class="wpfk--venue-header">
    <div class="wpfk--venue-image-container">
        {{#if venue.image.url}}
        <img src="{{venue.image.url}}" alt="{{venue.venueName}}" width="1200" />
        {{else}}
        <img src="/images/sealife-large.jpg" width="1200" />
        {{/if}}
        <h1>{{venue.venueName}}</h1>
    </div>
</header>
<article class="wpfk--venue-content">
    <h1>{{venue.venueName}}</h1>
    <p class="wpfk--search-result__opening-times">{{#if venue.openToday}}Open today from {{venue.openToday.from}} until {{venue.openToday.to}}{{else}}Closed{{/if}}</p>
    <p class="wpfk--search-rating">
        {{#times venue.rating}}
        <img src="/images/star-filled.svg" />
        {{/times}}
    </p>
    <section class="wpfk--venue-description">
        {{{venue.description}}}
        <p><strong>Recommended by {{venue.user.yourName}} with {{venue.user.childName}} (age {{venue.childrensAges}})</strong> - {{venue.formattedDate}}</p>
    </section>
    <section class="wpfk--filter-collapse {{#if filterFacilities}}wpfk--form-collapse--expanded{{/if}}">
        <h2>Activity Type</h2>
        <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
            {{#each venue.activityType}}
            <li class="wpfk--venue-activity-tick">{{this}}</li>
            {{/each}}
        </ul>
    </section>
    <section class="wpfk--venue-section">
        <h1>Details</h1>
        <dl class="wpfk--venue-details-list">
            <dt>Address:</dt>
            <dd style="white-space: pre-wrap">{{{venue.address}}}</dd>
            <dt>Contact:</dt>
            <dd>{{venue.telephoneNumber}}</dd>
            <dt>Price:</dt>
            <dd>{{#if costsMoney}}Paid{{else}}Free{{/if}}</dd>
            <dt>Website:</dt>
            <dd>{{website}}</dd>
        </dl>
        <div class="wpfk--venue-map"><div id='gmap_canvas' style='height:265px;width:265px;'></div>
        <script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng({{venue.latLng}}),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng({{venue.latLng}})});infowindow = new google.maps.InfoWindow({content:"<h3>{{venue.venueName}}</h3><p>{{venue.inlineAddress}}</p>"});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </section>
    <section class="wpfk--venue-section">
        <h1>Facilities</h1>
        <ul>
            {{#each venue.facilities}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
        <section class="wpfk--venue-section">
        <h1>Opening Hours</h1>
        <ul>
            {{#each venue.opens}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
</article>