<header class="wpfk--venue-header">
    <div class="wpfk--venue-image-container">
        {{#if venue.image.url}}
        <img src="{{cloudinaryUrl venue.image width=1200 height=421 crop='lfill' gravity='center'}}" alt="{{venueName}}" alt="{{venue.venueName}}" width="1200" />
        {{else}}
        <img src="/images/castle-wide.jpg" width="1200" />
        {{/if}}
        <h1>{{venue.venueName}}</h1>
    </div>
</header>
<article class="wpfk--venue-content">
    <h1>{{venue.venueName}}</h1>
    <p class="wpfk--search-result__opening-times">{{#if venue.openToday}}Open today from {{venue.openToday.from}} until {{venue.openToday.to}}{{else}}Closed{{/if}}</p>
    <p class="wpfk--search-rating">
        {{#times venue.rating}}
        <img src="/images/star-filled.svg" />
        {{/times}}
    </p>
    <section class="wpfk--venue-description">
        {{{venue.description}}}
        <p><strong>Recommended by {{venue.user.yourName}} with {{venue.user.childName}} (age {{venue.childrensAges}})</strong> - {{venue.formattedDate}}</p>
    </section>
    <section class="wpfk--filter-collapse {{#if filterFacilities}}wpfk--form-collapse--expanded{{/if}}">
        <h2>Activity Type</h2>
        <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
            {{#each venue.currentActivityTypes}}
            <li class="wpfk--venue-activity-tick">{{this}}</li>
            {{/each}}
        </ul>
    </section>
    <section class="wpfk--venue-section">
        <h1>Details</h1>
        <dl class="wpfk--venue-details-list">
            <dt>Address:</dt>
            <dd style="white-space: pre-wrap">{{{venue.address}}}</dd>
            <dt>Contact:</dt>
            <dd>{{venue.telephoneNumber}}</dd>
            {{#if venue.costsMoney}}
            <dt>Adult price:</dt>
            <dd>£{{venue.prices.adult}}</dd>            
            <dt>Child price:</dt>
            <dd>£{{venue.prices.child}}</dd>            
            <dt>Infant price:</dt>
            <dd>£{{venue.prices.infant}}</dd>            
            <dt>Other price:</dt>
            <dd>{{venue.prices.otherDescription}}</dd>            
            {{else}}
            <dt>Price:</dt>
            <dd>Free</dd>
            {{/if}}
	    <dt>Website:</dt>
            <dd><a href="{{venue.website}}" target="_blank">{{venue.website}}</a></dd>
        </dl>
        <div class="wpfk--venue-map"><div id='gmap_canvas' style='height:265px;width:265px;'></div>
        <script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng({{venue.latLng}}),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng({{venue.latLng}})});infowindow = new google.maps.InfoWindow({content:"<h3>{{venue.venueName}}</h3><p>{{venue.inlineAddress}}</p>"});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </section>
    <section class="wpfk--venue-section">
        <h1>Facilities</h1>
        <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
            {{#each venue.currentFacilities}}
            <li class="wpfk--venue-activity-tick">{{this}}</li>
            {{/each}}
        </ul>
    </section>
        <section class="wpfk--venue-section">
        <h1>Opening Hours</h1>
        <ul class="wpfk--venue-activity-ticks wpfk--form-collapse--more">
            {{#each venue.opens}}
            <li class="wpfk--venue-activity-notick">{{this}}</li>
            {{/each}}
        </ul>
    </section>
    </section>
        <section class="wpfk--venue-section">
        <h1>Reviews</h1>
        <p>There are {{reviewCount}} reviews for "{{venue.venueName}}"</p>
        {{#each reviews}}
        <section class="wpfk--review-header">
            <p><strong>Recommended by {{yourName}} {{#if children.child1Name}}with {{children.child1Name}}{{#if children.child1Age}} (age {{children.child1Age}}){{/if}}{{/if}}
                                            {{#if children.child2Name}}, {{children.child2Name}}{{#if children.child2Age}} (age {{children.child2Age}}){{/if}}{{/if}}
                                            {{#if children.child3Name}}, {{children.child3Name}}{{#if children.child3Age}} (age {{children.child3Age}}){{/if}}{{/if}}
                                            {{#if children.child4Name}}, {{children.child4Name}}{{#if children.child4Age}} (age {{children.child4Age}}){{/if}}{{/if}}
                                            {{#if children.child5Name}}, {{children.child5Name}}{{#if children.child5Age}} (age {{children.child5Age}}){{/if}}{{/if}} - {{formattedDate}}</strong></p>
            <p class="wpfk--search-rating">
            {{#times rating}}
            <img src="/images/star-filled.svg" />
            {{/times}}
            </p>
            <p>{{{description}}}</p>
        </section>
        {{/each}}
    <!--<form action="/review" method="post"> 
    <section class="wpfk--venue-section wpfk--review-form">
        <h1>Add a review</h1>
        <section class="wpfk--form__rating">
            <h3>Your rating</h3>
            <div class="wpfk--form__rating-container">
                <input type="radio" name="rating" id="rating5" value="5" {{#ifeq formData.rating 5}}checked="checked"{{/ifeq}} /> <label for="rating5">5</label>
                <input type="radio" name="rating" id="rating4" value="4" {{#ifeq formData.rating 4}}checked="checked"{{/ifeq}} /> <label for="rating4">4</label>
                <input type="radio" name="rating" id="rating3" value="3" {{#ifeq formData.rating 3}}checked="checked"{{/ifeq}} /> <label for="rating3">3</label>
                <input type="radio" name="rating" id="rating2" value="2" {{#ifeq formData.rating 2}}checked="checked"{{/ifeq}} /> <label for="rating2">2</label>
                <input type="radio" name="rating" id="rating1" value="1" {{#ifeq formData.rating 1}}checked="checked"{{/ifeq}} /> <label for="rating1">1</label>
            </div>
        </section>
        <section class="wpfk--review-section">
            <p>Your name:<br/><input type="text" name="yourName" id="yourName" value="{{formData.yourName}}" placeholder="Your name" aria-label="Your name" /></p>
            <p>Email:<br/><input type="email" name="email" id="email" value="{{formData.email}}" placeholder="Email" aria-label="Email" /></p>
        </section>
        <section class="wpfk--review-section">
            <p>Child 1's name:<br/><input type="text" name="children.child1Name" id="childrenChild1Name" value="{{formData.[children.child1Name]}}" placeholder="Child 1's name" aria-label="Child 1's name" /></p>
            <p>Child 1's age:<br/><input type="number" name="children.child1Age" id="childrenChild1Age" value="{{formData.[children.child1Age]}}" placeholder="Child 1's age" aria-label="Child 1's age" /></p>
        </section>
        <section class="wpfk--review-section {{#if formData.[children.child2Name]}}{{else}}wpfk--more-children{{/if}}">
            <p>Child 2's name:<br/><input type="text" name="children.child2Name" id="childrenChild2Name" value="{{formData.[children.child2Name]}}" placeholder="Child 2's name" aria-label="Child 2's name" /></p>
            <p>Child 2's age:<br/><input type="number" name="children.child2Age" id="childrenChild2Age" value="{{formData.[children.child2Age]}}" placeholder="Child 2's age" aria-label="Child 2's age" /></p>
        </section>
        <section class="wpfk--review-section {{#if formData.[children.child3Name]}}{{else}}wpfk--more-children{{/if}}">
            <p>Child 3's name:<br/><input type="text" name="children.child3Name" id="childrenChild3Name" value="{{formData.[children.child3Name]}}" placeholder="Child 3's name" aria-label="Child 3's name" /></p>
            <p>Child 3's age:<br/><input type="number" name="children.child3Age" id="childrenChild3Age" value="{{formData.[children.child3Age]}}" placeholder="Child 3's age" aria-label="Child 3's age" /></p>
        </section>
        <section class="wpfk--review-section {{#if formData.[children.child4Name]}}{{else}}wpfk--more-children{{/if}}">
            <p>Child 4's name:<br/><input type="text" name="children.child4Name" id="childrenChild4Name" value="{{formData.[children.child4Name]}}" placeholder="Child 4's name" aria-label="Child 4's name" /></p>
            <p>Child 4's age:<br/><input type="number" name="children.child4Age" id="childrenChild4Age" value="{{formData.[children.child4Age]}}" placeholder="Child 4's age" aria-label="Child 4's age" /></p>
        </section>
        <section class="wpfk--review-section {{#if formData.[children.child5Name]}}{{else}}wpfk--more-children{{/if}}">
            <p>Child 5's name:<br/><input type="text" name="children.child5Name" id="childrenChild5Name" value="{{formData.[children.child5Name]}}" placeholder="Child 5's name" aria-label="Child 5's name" /></p>
            <p>Child 5's age:<br/><input type="number" name="children.child5Age" id="childrenChild5Age" value="{{formData.[children.child5Age]}}" placeholder="Child 5's age" aria-label="Child 5's age" /></p>
        </section>
        <section class="wpfk--review-section wpfk--add-more-children">
            <p><a href="#">Add another child</a></p>
        </section>
        <section class="wpfk--form__description">
            <textarea aria-label="Your review" name="description" placeholder="What's brilliant about this place? (also, add hints and tips for other parents)" rows="4">{{formData.description}}</textarea>
        </section>
        <section class="wpfk--form-actions">
            <input type="hidden" name="venueSlug" value="{{venue.slug}}" />
            <input type="hidden" name="venueId" value="{{venue.id}}" />
            <input type="hidden" name="action" value="review" />
            <button type="submit" class="wpfk--form__submit-button">Submit your review</button>
        </section>
    </section>
    </form>-->
</article>
<script type="text/javascript">
    document.querySelector('.wpfk--add-more-children').addEventListener('click', function(e) {
        e.preventDefault();

        var children = document.querySelectorAll('.wpfk--more-children');

        children[0].style.display = 'block';
        children[0].classList.remove('wpfk--more-children');
    });
</script>
